
			body {background-color: #4F4F4F;}
			* { margin: 0px; padding: 0px;}
			nav {width: 800px; height: auto; margin: 20px;}
			nav ul {list-style-type: none;}

			img {
				width: 400px;
		
			}

			nav li {
			    font-family: Trebuchet, Helvetica, sans-serif;
			    text-transform: uppercase;
			    font-size: 1.7em;
			    color: #ffffff;
			    margin-right: 20px;
			    display: inline;
			}

			nav li a {
			    color: #B3EE3A;
			    text-decoration: none;
			}
			nav li a:visited {
			    color: #B3EE3A;
			}
			nav li a:hover {
			    color: #FFF;
			}  

			#content {
				font-family: serif;
				clear: both;
				margin: 30px;
			}

			p {
				font-size: 1.5em;
				color: #FFF;
				margin: 10px;
			}
